In [87]:
import pandas as pd

df = pd.read_excel('planilha_tratada.xlsx')
df

,Endereço,Sigla_Sub,Subprefeitura,Lote,Contratada,Volume,Lat,Long,Volume_int,Quadrimestre,Ano
0,"RUA GUILHERME MAINARD,243",CL,CAMPO LIMPO,6.0,SUSTENTARE,Menor que 1 m³,-23.62515,-46.76244,1.0,1,2019
1,"RUA HENRIQUE SAM MIDLIN,654",CL,CAMPO LIMPO,6.0,SUSTENTARE,Menor que 1 m³,-23.678828,-46.78069,1.0,1,2019
2,"RUA INACIO MANUEL TOURINHO,744",CL,CAMPO LIMPO,6.0,SUSTENTARE,Menor que 1 m³,-23.631124,-46.752098,1.0,1,2019
3,"RUA INTEGRADA,126",CL,CAMPO LIMPO,6.0,SUSTENTARE,Menor que 1 m³,-23.665131,-46.777485,1.0,1,2019
4,"RUA INTEGRADA,35",CL,CAMPO LIMPO,6.0,SUSTENTARE,Menor que 1 m³,-23.664908,-46.780861,1.0,1,2019
...,...,...,...,...,...,...,...,...,...,...,...
14478,Rua Enesto Rothschild,SA,Santo Amaro,6.0,EcoSampa,Menor que 1m³,-23.677531,-46.678865,1.0,1,2021
14479,Rua Luis Correia de Mello com Rua Bragança Pau...,SA,Santo Amaro,6.0,EcoSampa,Menor que 1m³,-23.634478,-46.714604,1.0,1,2021
14480,Rua Manoel Antônio da Luz c/ Rua Iguatinga,SA,Santo Amaro,6.0,EcoSampa,Menor que 1m³,-23.657803,-46.70404,1.0,1,2021
14481,Rua Manoel vaz,SA,Santo Amaro,6.0,EcoSampa,Menor que 1m³,-23.670696,-46.67539,1.0,1,2021
14482,Rua Pereira Barreto,SA,Santo Amaro,6.0,EcoSampa,Menor que 1m³,-23.656249,-46.703518,1.0,1,2021

In [88]:
df = df.dropna(subset='Lat')

df['Lat'].isna().value_counts()

Lat
False    14481
Name: count, dtype: int64

In [89]:
df = df.dropna(subset='Long')

df['Long'].isna().value_counts()

Long
False    14480
Name: count, dtype: int64

In [90]:
df['Lat'] = df['Lat'].apply(str)
df['Lat'] = df['Lat'].str.replace(',', '.')
df['Lat'] = df['Lat'].apply(float)
df['Lat']

0       -23.625150
1       -23.678828
2       -23.631124
3       -23.665131
4       -23.664908
           ...
14478   -23.677531
14479   -23.634478
14480   -23.657803
14481   -23.670696
14482   -23.656249
Name: Lat, Length: 14480, dtype: float64

In [91]:
df['Long'] = df['Long'].apply(str)
df['Long'] = df['Long'].str.replace('46-646508', '-46,646508').str.replace(',', '.')
df['Long'] = df['Long'].apply(float)
df['Long']

0       -46.762440
1       -46.780690
2       -46.752098
3       -46.777485
4       -46.780861
           ...
14478   -46.678865
14479   -46.714604
14480   -46.704040
14481   -46.675390
14482   -46.703518
Name: Long, Length: 14480, dtype: float64

In [92]:
df = df.dropna()

In [93]:
df['Subprefeitura'] =  df['Subprefeitura'].str.upper()
df['Contratada'] = df['Contratada'].str.upper()

In [94]:
df['Subprefeitura'] = df['Subprefeitura'].str.strip().str.replace('M BOI MIRIM', "M'BOI MIRIM").str.replace("M'BOI IRIM", "M'BOI MIRIM").str.replace('BUTANTA', 'BUTANTÃ').str.replace('JAÇANÃ / TREMEMBE', 'JAÇANÃ / TREMEMBÉ')

In [95]:
dic_subprefeitura_count = dict(df['Subprefeitura'].value_counts())
subprefeitura_com_mais_pontos = dic_subprefeitura_count
total_de_casos = 0

for chave, valor in dic_subprefeitura_count.items():
    total_de_casos += valor

dic_subprefeitura_count

{'SÉ': np.int64(1822),
 'SÃO MATEUS': np.int64(1458),
 'ITAIM PAULISTA': np.int64(1174),
 'MOOCA': np.int64(971),
 'PIRITUBA': np.int64(723),
 'PIRITUBA-JARAGUA': np.int64(612),
 'SÃO MIGUEL PAULISTA': np.int64(564),
 'IPIRANGA': np.int64(457),
 'CASA VERDE': np.int64(396),
 'CIDADE TIRADENTES': np.int64(391),
 'V. MARIA / V. GUILHERME': np.int64(377),
 'PENHA': np.int64(377),
 'GUAIANASES': np.int64(345),
 'SANTO AMARO': np.int64(323),
 'ITAQUERA': np.int64(306),
 'VILA MARIANA': np.int64(301),
 'BUTANTÃ': np.int64(290),
 'JABAQUARA': np.int64(257),
 'CIDADE ADEMAR': np.int64(245),
 "M'BOI MIRIM": np.int64(238),
 'FREGUESIA DO Ó': np.int64(227),
 'SAPOPEMBA': np.int64(224),
 'PIRITUBA/JARAGUA': np.int64(221),
 'ERMELINO MATARAZZO': np.int64(221),
 'PERUS': np.int64(208),
 'VILA PRUDENTE': np.int64(193),
 'LAPA': np.int64(191),
 'CAMPO LIMPO': np.int64(180),
 'ARICANDUVA / VILA FORMOSA': np.int64(175),
 'PINHEIROS': np.int64(169),
 'CAPELA DO SOCORRO': np.int64(99),
 'PARELHEIROS': np.int64(77),
 'ARICANDUVA/FORMOSA/CARRÃO': np.int64(55),
 'SANTANA / TUCURUVI': np.int64(42),
 'ARICANDUVA/FORMOSA': np.int64(35),
 'JAÇANÃ / TREMEMBÉ': np.int64(22)}

In [97]:
dic_subprefeitura_count['JAÇANÃ / TREMEMBÉ'] / total_de_casos * 100

np.float64(0.15752541887440927)

In [102]:
dic_empresas_count = dict(df['Contratada'].value_counts())
total_de_casos_empresas = 0

for chave, valor in dic_empresas_count.items():
    total_de_casos_empresas += valor

dic_empresas_count

{'CORPUS': np.int64(3892),
 'SUSTENTARE': np.int64(2560),
 'ECOSS': np.int64(2015),
 'LIMPA SP': np.int64(1109),
 'SOMA': np.int64(1091),
 'INOVA': np.int64(859),
 'LOCAT SP': np.int64(841),
 'LOCATSP': np.int64(577),
 'ECOSAMPA': np.int64(501),
 'TREVO': np.int64(332),
 'CONSÓRCIO SCK': np.int64(189)}

In [103]:
## CASOS REVITALIZADOS

np.int64(13966)

In [ ]:
df.to_excel('planilha_tratada_oficial.xlsx', index=0)